*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* box-1 */
.nav_logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border:hover{
    border: 2px solid white; 
}
/* box-2 */

#one{
    font-size: 12px;
    color:#cccccc;
    margin-left: 13px;
}
#two{
    font-size: 14px;
    color:#ffffff;
    margin-left: 3px;;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box-3 */
.nav-search{
    display: flex;
    background-color: #febd68;
    height: 40px;
    width: 650px;
    border-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    color: #0f1111;
    font-size: 14px;
    width:50px;
    border: none;
}
#search{
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 1.3rem;
    color: black;
}
input{
    width: 555px;
    border: none;
    font-size: 1.3rem;;
}
#change{
    background-color: #0f1111;
    color: white;
}

/* box-4 */
span{
    font-size: 0.7rem;
}
#front{
    font-size: o.85rem;
    font-weight: 700;
}
.cart i{
    font-size: 30px;
}

/* Panel */
.panel{
    height:39px;
    background-color: #232f3e;
    color: white ;
    display: flex;
     align-items: center;
    justify-content: space-evenly; 
}
.allmenu{
    font-weight: 700;
}
a{
    font-size: 14px;
}
.herosection{
    height: 300px;
    background-image: url("hero.jpg");
    background-size: cover;
}

.shop-section{
    background-color:rgba(234, 195, 195, 0.781);
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.box{
    height: 400px;
    width: 23%;
    border: 2px solid white;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 10px;
    border-radius: 5px;
}
h1{
    color: #0f1111;
    font-size: 21px;
} 

#link:hover{
    text-decoration: underline;
    font-size: 13px;
    text-decoration: none;
}
#soft{
    background-size: cover;
    height: 330px;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}
.underbox{
    margin-left: 15px;
    margin-right: 15px;
}
#cold{
    height: 330px;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#div{
    width: 120px;
    height: 120px;
    background-size: cover;
    margin: 10px;
}
#div p{
    margin: 127px 0 0 5px;
    font-size: 13px;
}

/* footer */

.foot-panel1{
    background-color: #37475a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 13px;
}
.foot-panel2{
    background-color: #222f3d;
    height: 340px;
    color: rgba(255, 255, 255, 0.673);
    display: flex;
    justify-content: space-evenly;
}


.foot-panel2 b{
    color: #fff;
}

ul{
    margin-top: 20px;
}
ul a{
    display: block;
    margin-top: 15px;
    font-size: 0.8 rem;
}
.foot-panel3{
    background-color: black;
    color:#cccccc;
    height: 78px;
}

.foot-panel3 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding-top: 25px;
}
.foot-panel3 li{
    margin-right: 15px;
    font-size: 12px;
}
.foot-panel3 span{
    display: block;
    display: flex;
    justify-content: center;
    margin: 5px;
}
